body {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding: 3rem;
  background-color: white;
}

.flashcard {
  height: 150px;
  width: 300px;
  margin: 50px auto;
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flashcard-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  text-align: center;
  backface-visibility: hidden;
  border: 2px solid black;
  border-radius: 10px;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.flashcard-face.flashcard-front,
.flashcard-face.flashcard-back {
  background-image: url("Firefly_Gemini Flash_a cool space background for a flashcard 268310.png");
  background-size: cover;
  background-position: center;
}

.flashcard-face.flashcard-front {
 transform: rotateY(0deg);
}

.flashcard-face.flashcard-back {
  transform: rotateY(180deg);
}

.flashcard.flipped {
  transform: rotateY(180deg);
}
